.category_body {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  min-width: 16rem;
  width: 20rem;
  min-height: 16rem;
  height: 16rem;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.category_body:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transform: scale(1.03);
  transition: 0.3s;
}

.category_action {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  gap: 8px;
}

.category_action:hover {
  cursor: pointer;
}

.category_action .delete:hover {
  color: red;
}
.category_action .edit:hover {
  color: orange;
}
