.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category_header {
  display: flex;
  inline-size: 100%;
  justify-content: space-between;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
  padding: 0.5rem 3rem 3rem 3rem;
  justify-content: center;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}
